@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  color: #333; /* Change the line color */
  border-width: 2px; /* Adjust the line thickness */
  border-style: dashed; /* Change the line style (e.g., dashed, dotted, solid) */
}

/* For WebKit (Chrome, Safari, and newer versions of Edge) */
/* You can adjust the colors to your preference */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0070f9; /* Color of the scrollbar thumb */
  border-radius: 0px; /* Rounded corners for the thumb */
}
