.heading2Xl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.headingXl {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingPostTitle {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}

.headingAbout {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 0rem;
  margin-top: -1rem;
}

.headingLg {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 0rem;
  margin-bottom: 0.4rem;
}

.headingMd {
  font-size: 1.6rem;
  line-height: 1.5;
}

.headingDd {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  margin-left: 20px;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.introSection {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.introSectionAllPosts {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.introText {
  font-size: 1.5rem;
}

.socialLinks {
  font-size: 25px;
}

.link {
  display: inline-block;
  margin-right: 20px;
  color: #0070f3;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/*
.blogSection {
  margin-top: 2rem;
}
*/

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  margin-bottom: 1rem;
}

.postLink {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.postLinkH1 {
  color: #333;
  text-decoration: none;
}

.postLink:hover {
  text-decoration: underline;
}

.postDate {
  color: #666;
}

.footer {
  text-align: center;
  color: #666;
  font-size: 0.8rem;
  margin-bottom: -1rem;
}

.content {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 1rem;
  color: #333;
}

.latestPostContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Add other styles as needed */
}

.showAllLink {
    text-decoration: none;
    color: #0070f3; /* You can customize the color */
    font-weight: bold;
    /* Add other link styles as needed */
}
