.headingDd {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

.borderCircle {
  margin: 0px 0px;
}

.content {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6;
  color: #333;
}

.content h1 {
  font-weight: 700;
}

.content hr {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  border-color: #CCCCCC;
  border-width: 2px;
  border-style: dashed;
}

.content blockquote {
  border-color: #CCC;
  border-width: 2px;
  border-style: solid;
  text-align: left;
  padding: 0.2em 0.5em 0.2em;
  margin: 0.5rem 0rem;
  background-color: #f9f9f9;
}

.content a {
  color: #0074d9;
}
